[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
langchain = "*"
fastapi = "*"
uvicorn = "*"
gradio = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
