[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pytest = "*"
flask-sqlalchemy = "*"
docx2txt = "*"
python-telegram-bot = "*"
sqlite-web = "*"
apscheduler = "==3.10.1"
tweepy = "*"
feedparser = "*"
moviepy = "*"
pyttsx3 = "*"
pyyaml = "*"
tiktoken = "*"
edge-tts = "*"
pyexecjs = "*"
httpx = "*"
translators = "*"
langid = "*"
flask = "*"
pydantic = "*"
gradio = "*"
sse-starlette = "*"
pynng = "*"
curio = "*"
poe-api = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
